<h1>Dashboard</h1>

<h2>Orders</h2>

<%= form_with url: "/dashboard", method: :get do |f| %>
  <%= f.collection_check_boxes :status, Order.select(:status).distinct, :status, :status, {include_hidden: false }, {} %>
  <%= f.submit "Filter" %>
<% end %>
<nav>
  <ul>
    <% @orders.each do |order| %>
      <% if order.status == "ordered" %>
        <li>
          <%= order.id %>
          <%= order.status %><br />
          <%= link_to "show", dashboard_orders_path(order)  %>
          <%= link_to "mark as paid", change_status_order_path(id: order.id, status: "paid"), method: :patch %>
          <%= link_to "cancel", change_status_order_path(id: order.id, status: "cancelled"), method: :patch %>
        </li>
      <% elsif order.status == "paid"%>
        <li>
          <%= order.id %>
          <%= order.status %><br />
          <%= link_to "show", dashboard_orders_path(order)  %>
          <%= link_to "mark as completed", change_status_order_path(id: order.id, status: "completed"), method: :patch %>
          <%= link_to "cancel", change_status_order_path(id: order.id, status: "cancelled"), method: :patch%>
        </li>
      <% else %>
        <li>
          <%= order.id %>
          <%= order.status %><br />
          <%= link_to "show", dashboard_orders_path(order)  %>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>


