<%= form_with model: @item,  html: { class: "items-form" } do |f|  %>

  <div class="items-form__field">
    <%= f.text_field :title, class: "items-form__text-input", placeholder: "Title" %>
  </div>

  <div class="items-form__field">
    <%= f.text_area :description, class: "items-form__text-area-input", placeholder: "Description" %>
  </div>

  <div class="items-form__field">
    <%= f.text_field :price, class: "items-form__text-input", placeholder: "Price" %>
  </div>

  <div class="items-form__field">
    <%= f.label :category, class: "items-form__label" %>
    <%= f.select :category_ids, options_from_collection_for_select(Category.all, :id, :name), 
                                { prompt: "Select Category",  include_hidden: false },
                                { multiple: true, class: "items-form__select" } %>
    <%= link_to "Add category", new_category_path, class: "item-form__link btn-secondary"%>
  </div>

  <div class="items-form__field">
    <%= f.label :image, class: "items-form__label" %>
    <%= f.file_field :image, class: "items-form__file-input " %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="items-form__field">
    <% if @item.new_record? %>
      <%= f.submit "Create", class: "itmes-form__button btn btn-primary" %>
    <% else %>
      <%= f.submit "Update", class: "itmes-form__button btn btn-primary" %>
    <% end %>
  </div>

<% end %>
