<header>
  <nav class="main-nav">
    <%= link_to "", root_path, class: "logo" %>
    <ul class="common-nav">
      <% if user_signed_in? %> 
        <li><%= link_to "Log out", log_out_path, method: :delete  %></li>
        <li><%= link_to "Orders", orders_path(user_id: current_user.id) %></li>
      <% else %>
        <li><%= link_to "Sign in", sign_in_path, class: "btn sign-in-btn"  %></li>
        <li><%= link_to "Sign up", sign_up_path, class: "btn sign-up-btn"  %></li>
      <% end %>
      <% unless admin_signed_in? %>
        <% if session[:order_id] %>
          <li>
          <%= link_to order_path(current_order), title: "Cart" do %>
            <%= icon 'fas', "shopping-cart", class:"cart-icon" %>
          <% end %>
          </li>
        <% else %>
          <li><a href="#" title="Cart"><%= icon 'fas', "shopping-cart", class:"cart-icon" %></a></li>
        <% end %>  
      <% end %>
    </ul>
  </nav>
  <% if admin_signed_in? %>
    <nav class="dashboard-nav">
      <ul class="admin-nav">
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Items", dashboard_items_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "New Item", new_item_path %></li>
        <li><%= link_to "New Category", categories_path %></li>
        <li><%= link_to "New Sale", new_sale_path %></li>
      </ul>
    </nav>
  <% end %>
</header>