<h2 class="order-show-heading heading">Cart</h2>

<div class="order-info">
  <p class="order-info__order-id">Order id: <%= @order.id %></p>
  <p class="order-info__qunatity">
    <%= "Items".pluralize %>:
    <span><%= @order.order_items.count %></span>
  </p>
  
  <p class="order-info__status">Status: <span><%= @order.status %></span></p>
  
  <% if @order.status == "cancelled" %>
    <p class="order-info__status-date">Cancelled on: <%= @order.updated_at %></p>
  <% elsif @order.status == "completed" %>
    <p class="order-info__status-date">Completed at: <%= @order.updated_at %></p>
  <% elsif @order.status == "ordered" %>
    <p class="order-info__status-date">Ordered at: <%= @order.updated_at %></p>
    <p>Prepartion Time: <%= @order.preparation_time %> minutes</p>
    <p>Your order will be ready at: <%= (@order.updated_at + @order.preparation_time.minutes).strftime("%I:%M %p") %></p>
  <% end %>
</div>

<table class="order-table">
  <thead>
    <tr>
      <th class="order-table__item-title" >Name</th>
      <th class="order-table__item-quantity">Quantity</th>
      <th class="order-table__item-price">Price</th>
      <th class="order-table__item-subtotal">Sub-total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td class="order-table__item-title" ><%= link_to order_item.item.title, item_path(order_item.item) %></td>
        <td class="order-table__item-quantity"><%= link_to order_item.quantity, edit_order_item_path(order_item), class: "item-quantity" %></td>
        <td class="order-table__item-price"><%= order_item.item.price %></td>
        <td class="order-table__item-subtotal"><%= order_item.sub_total %></td>
        <td><%= link_to "Remove Item", order_item_path(order_item, order_id: @order.id), method: :delete  %></td>
      </tr>    
    <% end %>    
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td class="order-table__total"><%= @order.total_price %></td>
    </tr>
  </tfoot>
</table>

<% if @order.new? && user_signed_in? %>
  <aside>
    <% unless @last_order_completed.order_items.empty? %>
      <h3>Last order:</h3>
      <span>Order id:<%= @last_order_completed.id %></span>
      <span>Date: <%= @last_order_completed.created_at.strftime("%Y-%b-%d") %></span>
      <h4>Items:</h4>
      <ul>
        <% @last_order_completed.order_items.each do |order_item|  %>
          <li>
            <%= order_item.item.title %>
            <%= order_item.item.price %>
            <%= order_item.quantity %>
            <%= order_item.sub_total %>
          </li>
        <% end %>
        <p>Total: <%= @last_order_completed.total_price %></p>
        <%= form_with url: order_path(@order), method: :patch do |f|  %>
          <%= f.hidden_field :last_order_id, value: @last_order_completed.id  %>
          <%= f.submit "Order Again" %>
        <% end %>
      </ul>
    <% end %>
  </aside>

  <% unless @order.submitted? %>
    <%= form_with model: @order do |f| %>
      <%= f.submit "Submit Order" %>
    <% end %>
  <% end %>
<% end %>




<%= link_to "Back", root_path, class: "link"  %>