<h2>Cart</h2>

<p><%= pluralize(@order.order_items.count, "Items") %></p>

<p>Status: <%= @order.status %></p>

<% if @order.status == "cancelled" %>
  <p>Cancelled on: <%= @order.updated_at %></p>
<% elsif @order.status == "completed" %>
  <p>Completed at: <%= @order.updated_at %></p>
<% elsif @order.status == "ordered" %>
  <p>Ordered at: <%= @order.updated_at %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Sub-total</th>
      <th colspan="3">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.item.title %></td>
        <td><%= link_to order_item.quantity, edit_order_item_path(order_item) %></td>
        <td><%= order_item.item.price %></td>
        <td><%= order_item.sub_total %></td>
        <td><%= link_to "description", item_path(order_item.item)  %></td>
        <td><%= @order.total_price %></td>
      </tr>    
    <% end %>    
  </tbody>
</table>





<%= link_to "Back", root_path  %>