<h2 class="item-index-heading heading">Menu</h2>

<div class="grid-wrapper">
  <aside class=aside-left>
    <%= form_with url: items_path,  method: :get do |f| %>
      <%= f.label :query, "Item title:"  %>
      <%= f.text_field :query %>
      <%= f.submit "Search" %>
    <% end %>
    <div class="menu-option">
      <%= link_to "Menu Option", new_menu_path, class: "menu-option__button"  %>
    </div>
    <div class="items-filter">
      <h3 class="items-filter__heading">Categories</h3>
      <ul calss="items-filter__list">
        <% @categories.each do |category| %>
          <li class=items-filter__list-item><%= link_to category.name, items_path(category_id: category.id), class: "link"  %></li>
        <% end %>
      </ul>
    </div>
  </aside>
  
  <ul class="menu-list">
    <% @items.each do |item| %>
      <% if item.retired %>
        <% if user_signed_in? && current_user.admin %>
          <li>
            <%= render 'shared/item', item: item %>
          </li>
        <% end %>
      <% else %>
          <li>
            <%= render 'shared/item', item: item  %>
          </li>
      <% end %>
    <% end %>
  </ul>
</div>
