<h1>Menu</h1>
<p>The best dishes in town, an maybe in the all universe =)</p>

<form action="/">
  <%= select(:category, :id, @category_options) %>
  <%= submit_tag "Filter" %>
</form>

<ul>
  <% @items.each do |item| %>
    <% if item.retired %>
      <% if user_signed_in? && current_user.admin %>
        <li>
          <%= item.title %>
          <%= link_to "show", item_path(item) %>
          <%= button_to "Add to Cart", order_items_path(item_id: item.id) %>
        </li>
      <% end %>
    <% else %>
        <li>
          <%= item.title %>
          <%= link_to "show", item_path(item) %>
          <%= button_to "Add to Cart", order_items_path(item_id: item.id) %>
        </li>
    <% end %>
  <% end %>
</ul>
