<%= form_with model: @item do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.select :category_ids, options_from_collection_for_select(Category.all, :id, :name), 
                                                                   { prompt: "Select Categories" }, { multiple: true } %>
    <%= link_to "Add category", new_category_path %>
  </div>

  <div class="field">
    <%= f.submit "Create" %>
  </div>

<% end %>