<h2 class="item-title"><%= @item.title %></h2>  

<section class="item-info">
  <span class="item-info__item-price"><%=number_to_currency(@item.price) %></span>
  
  <% if @item.image? %>
    <div class="item-info__img-container", style="background-image: url('<%= @item.image %>')"></div>
  <% end %>
  
  <p class="item-info__item-description"><%= @item.description %></p>
  
  <p class="item-info__preparation-time"><%= @item.preparation_time %></p>
</section>

<h3 class="list-title">Categories:</h3>
<ul class="categories-list">
<% @categorizations.each do |categorization|%>
    <li class="categories-list__list-item">
      <%= categorization.category.name %>
      <%= link_to "remove", categorization_path(categorization), method: :delete %>
    </li>
<% end %>
</ul>

<%= form_with model: @item do |f| %>
  <%= select(:category, :id, @categories)  %>
  <%= f.submit "Add Category", class: "btn-filter" %>
<% end %>

<% if user_signed_in? %>
  <%= render 'shared/form_review', review: @review %>
<% end %>

<ul>
  <% @item.reviews.each do |review| %>
    <li>
      <span>Review form: <%= review.user.full_name %></span>
      <p><%= review.title %></p>
      <p><%= review.body %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Edit", edit_item_path(@item), class: "link"  %>