
<h1 class="heading categories-heading">Categories</h1>

<%= form_with model: @category, class: "categories-form" do |f| %>

  <div class="field">
    <%= f.text_field :name, placeholder: :category_name %>
  </div>

  <div class="field">
    <%= f.submit "Add Category", class: "btn btn-primary" %>
  </div>

<% end %>

<h2>Categories:</h2>

<table class="categories-table" >
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td class="categories-table__category-name"><strong><%= category.name %></strong></td>
        <td class="categories-table__buttons">
          <%= link_to "edit", edit_category_path(category), class: "link"  %> 
          <%= link_to "delete", category_path(category), method: :delete, class: "link" %>
        </td>
      </tr>  
    <% end %>
  </tbody>
</table>

